/* FOOTER */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 20vh;
	background: $bgColorFooter;
	padding-top: 20px;

	&__logo {
		@extend %logo;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 10vh;
	}
}
.footer__nav {
	&__links {
		@extend %nav-list;
	}
	&__link {
		@extend %nav-list-item;

		a {
			@extend %nav-link;
		}
	}
}
