header {
	@include transitionEaseIn;
	background-image: url("/styles/images/header/images_header_header-small.jpg");
	background-color: lightgray;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65vh;
	width: 100%;
	padding: 10vw;

	.header-text {
		text-align: center;
		p {
			color: $textColorLight;
			font-weight: bold;
			max-width: 320px;
		}
		@media (min-width: 650px) {
			max-width: 450px;
			position: absolute;
			top: 28vh;
			left: 5vw;
			margin-left: 7vw;
			h1 {
				@include transitionEaseIn;
			}
		}
	}
	@media (min-width: 650px) {
		padding: 25%;
		background-image: url("/styles/images/header/layout-with-design_images_header_header-large.jpg");
	}
}

/*
.header-image {
	object-fit: cover;
	width: 100%;
}
*/
