$textColorLight: white;
$textColorDark: black;
$primaryFont: "Poppins", sans-serif;
$logoFont: "Unica One", cursive;

$logoColor: #ff8673;
$headerColorDark: #9d5c5f;
$headerColorLight: #ff8673;
$menuColor: #eaddd9;

$bgColorTopNav: #394951;
$bgColorFooter: #2d3039;
$bgColorSectionOdd: #fafafa;
$bgColorSectionEven: #394951;
