/* SECTION 5*/

.section-5 {
	background: $bgColorSectionOdd;
}

.section-5 .grid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 10px;
	width: 90%;
	min-height: 250px;

	@media (min-width: 750px) {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
		grid-gap: 20px;
	}
}

.section-5 article {
	grid-area: 2 / 1 / span 1 / span 2;
	max-width: 250px;
	place-self: center;
	z-index: 10;
	background: lightgray;
	margin: -30px;
	padding: 10px;
	@media (min-width: 750px) {
		margin: -60px;
		padding: 40px;
		max-width: 600px;
	}
}

.section-5 .image-wrapper {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

.section-5 .image-wrapper:nth-of-type(1) {
	display: none;
}

.section-5 .image-wrapper:nth-of-type(4) {
	display: none;
}

.section-5 .image-wrapper:nth-of-type(6) {
	display: none;
}

.section-5 .image-wrapper:nth-of-type(7) {
	display: none;
}

//Media query för skärmar >=750px (placerar bilderna utifrån fullstor grid (3x5)

@media (min-width: 750px) {
	.section-5 article {
		grid-area: 2 / 3 / span 1 / span 1;
		z-index: 10;
		background: white;
		padding: 20px 20px;
		margin: -60px -60px;
	}

	.section-5 .image-wrapper:nth-of-type(1) {
		grid-area: 1 / 1 / span 2 / span 1;
		display: unset;
	}
	.section-5 .image-wrapper:nth-of-type(2) {
		grid-area: 3 / 1 / span 1 / span 1;
	}
	.section-5 .image-wrapper:nth-of-type(3) {
		grid-area: 1 / 2 / span 1 / span 1;
	}
	.section-5 .image-wrapper:nth-of-type(4) {
		grid-area: 2 / 2 / span 2 / span 1;
		display: unset;
	}
	.section-5 .image-wrapper:nth-of-type(5) {
		grid-area: 1 / 4 / span 1 / span 1;
	}

	.section-5 .image-wrapper:nth-of-type(6) {
		grid-area: 2 / 4 / span 2 / span 1;
		display: unset;
	}

	.section-5 .image-wrapper:nth-of-type(7) {
		grid-area: 1 / 5 / span 2 / span 1;
		display: unset;
	}

	.section-5 .image-wrapper:nth-of-type(8) {
		grid-area: 3 / 5 / span 1 / span 1;
	}
}

/*

Mikaelas lösning:

.advertising-wrapper {
  display: grid;
  background: #F8F8F8;
  padding: 4% 4%;
  grid-gap: 1em;
  grid-template-areas:
    “g text h”
    “j text m”;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 700px) {
    grid-template-areas:
      “f g text-inside h i”
      “f k text-inside l i”
      “j k text-inside l m”;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  }
}
.advertising-item-f {
  grid-area: f;
  display: none;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-item-g {
  grid-area: g;
}
.advertising-item-h {
  grid-area: h;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-item-i {
  grid-area: i;
  display: none;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-item-j {
  grid-area: j;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-item-k {
  grid-area: k;
  display: none;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-item-l {
  grid-area: l;
  display: none;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-item-m {
  grid-area: m;
  @media (min-width: 700px) {
    display: unset;
  }
}
.advertising-text {
  background-color: #FFFFFF;
  grid-row: span 3;
  place-self: center;
  margin: -80px;
  padding: 50px;
  z-index: 1;
}

*/
