.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #394951;
  padding-top: 40px;
  width: 100%;
}

@media (min-width: 600px) {
  .top-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 35px;
  }
}

.top-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 10vh;
}

@media (min-width: 600px) {
  .top-menu__nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header {
  -webkit-transition: all ease-in 1s;
  transition: all ease-in 1s;
  background-image: url("/styles/images/header/images_header_header-small.jpg");
  background-color: lightgray;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65vh;
  width: 100%;
  padding: 10vw;
}

header .header-text {
  text-align: center;
}

header .header-text p {
  color: white;
  font-weight: bold;
  max-width: 320px;
}

@media (min-width: 650px) {
  header .header-text {
    max-width: 450px;
    position: absolute;
    top: 28vh;
    left: 5vw;
    margin-left: 7vw;
  }
  header .header-text h1 {
    -webkit-transition: all ease-in 1s;
    transition: all ease-in 1s;
  }
}

@media (min-width: 650px) {
  header {
    padding: 25%;
    background-image: url("/styles/images/header/layout-with-design_images_header_header-large.jpg");
  }
}

/*
.header-image {
	object-fit: cover;
	width: 100%;
}
*/
/* SECTION 1: Main articles */
.section1-main-articles {
  background: #fafafa;
}

.section1-main-articles h3 {
  color: #9d5c5f;
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.article-container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 780px) {
  .article-container article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
    margin: 20px 0;
  }
}

.article-container article .article-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  text-align: center;
  padding: 0px;
}

@media (min-width: 780px) {
  .article-container article .article-text {
    width: 35%;
  }
}

.article-container article .article-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0 20px 0;
}

@media (min-width: 780px) {
  .article-container article .article-image {
    width: 50%;
  }
}

@media (min-width: 780px) {
  .section1-main-articles article:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

/*SECTION 2: Gallery*/
.section2-gallery {
  background: #394951;
  padding: 4vh 0 2vh 0;
}

.section2-gallery h3 {
  color: #ff8673;
}

@media (min-width: 550px) {
  .section2-gallery {
    padding-bottom: 20px;
  }
}

.section2-gallery .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 10px;
}

@media (min-width: 650px) {
  .section2-gallery .gallery {
    width: 90%;
  }
}

.section2-gallery .gallery__img {
  width: 18%;
  min-width: 50px;
  margin: 7px;
  border: 3px solid white;
}

@media (min-width: 650px) {
  .section2-gallery .gallery__img {
    border: 5px solid white;
    margin: 10px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
  }
}

/* SECTION 3*/
.section3-single-article {
  background: #fafafa;
}

.section3-single-article h3 {
  color: #9d5c5f;
}

.section3-single-article .grid {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  min-height: 400px;
  width: 100%;
  padding: 15px;
  grid-gap: 10px 10px;
  -ms-grid-rows: 4fr 3fr 3fr;
      grid-template-rows: 4fr 3fr 3fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section3-single-article article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / span 1 / span 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  padding-bottom: 10px;
}

.section3-single-article .image-wrapper:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2 / 1;
}

.section3-single-article .image-wrapper:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2;
}

.section3-single-article .image-wrapper:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / span 1 / span 2;
}

@media (min-width: 600px) {
  .section3-single-article .grid {
    height: 30vh;
    grid-gap: 15px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
  }
  .section3-single-article article {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
    justify-self: flex-start;
    max-width: 70%;
  }
  .section3-single-article .image-wrapper {
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
  }
  .section3-single-article .image-wrapper:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / span 1 / span 1;
  }
  .section3-single-article .image-wrapper:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / span 1 / span 1;
  }
  .section3-single-article .image-wrapper:nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / span 1 / span 2;
  }
  .section3-single-article .image-wrapper:nth-of-type(4) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / span 2 / span 1;
  }
}

/* SECTION 4*/
.section4-two-articles {
  background: #394951;
  padding: 0;
}

.section4-two-articles .grid {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4-two-articles .grid .image-wrapper {
  min-height: 40vh;
}

.section4-two-articles .grid .image-wrapper .image-large {
  display: none;
}

.section4-two-articles .grid .image-wrapper .image-small {
  display: unset;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.section4-two-articles .grid article {
  text-align: left;
}

.section4-two-articles .grid article:nth-of-type(1) {
  justify-self: flex-end;
  padding: 40px 25px 0px 25px;
}

.section4-two-articles .grid article:nth-of-type(2) {
  justify-self: flex-start;
  padding: 20px 25px 40px 25px;
}

.section4-two-articles .grid article p {
  color: white;
  max-width: 500px;
}

@media (min-width: 600px) {
  .section4-two-articles .grid {
    min-height: 400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section4-two-articles .grid article:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 40px 30px 10px 30px;
  }
  .section4-two-articles .grid article:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2 / 2;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 10px 30px 40px 30px;
  }
  .section4-two-articles .grid .image-wrapper {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
  }
  .section4-two-articles .grid .image-wrapper .image-small {
    display: none;
  }
  .section4-two-articles .grid .image-wrapper .image-large {
    display: unset;
  }
}

/* SECTION 5*/
.section5-collage {
  background: #fafafa;
}

.section5-collage .grid {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 10px;
  padding: 15px;
  min-height: 400px;
}

@media (min-width: 750px) {
  .section5-collage .grid {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.section5-collage article {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / span 1 / span 2;
  max-width: 65vw;
  min-height: 180px;
  place-self: center;
  z-index: 10;
  background: #9aa5aa;
  margin: -60px;
  padding: 30px;
}

.section5-collage article p {
  color: white;
}

@media (min-width: 750px) {
  .section5-collage article {
    margin: -70px;
    padding: 50px;
    max-width: 550px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
  }
}

.section5-collage .image-wrapper {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.section5-collage .image-wrapper:nth-of-type(1) {
  display: none;
}

.section5-collage .image-wrapper:nth-of-type(4) {
  display: none;
}

.section5-collage .image-wrapper:nth-of-type(6) {
  display: none;
}

.section5-collage .image-wrapper:nth-of-type(7) {
  display: none;
}

@media (min-width: 750px) {
  .section5-collage article {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 2 / 2 / span 1 / span 3;
  }
  .section5-collage .image-wrapper:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / span 2 / span 1;
    display: unset;
  }
  .section5-collage .image-wrapper:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / span 1 / span 1;
  }
  .section5-collage .image-wrapper:nth-of-type(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / span 1 / span 1;
  }
  .section5-collage .image-wrapper:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / span 2 / span 1;
    display: unset;
  }
  .section5-collage .image-wrapper:nth-of-type(5) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / span 1 / span 1;
  }
  .section5-collage .image-wrapper:nth-of-type(6) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2 / 4 / span 2 / span 1;
    display: unset;
  }
  .section5-collage .image-wrapper:nth-of-type(7) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 1 / 5 / span 2 / span 1;
    display: unset;
  }
  .section5-collage .image-wrapper:nth-of-type(8) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-area: 3 / 5 / span 1 / span 1;
  }
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20vh;
  background: #2d3039;
  padding-top: 20px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 10vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  width: 100%;
  min-width: 200px;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 4vh 0vh;
}

@media (min-width: 650px) {
  section {
    padding: 4vh 2vh;
  }
}

h1 {
  text-align: center;
  color: #ff8673;
  font-size: 30px;
}

@media (min-width: 650px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  font-size: 24px;
  text-align: center;
  color: #9d5c5f;
  padding: 25px 0 15px 0;
}

@media (min-width: 650px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
  font-size: 18px;
  text-align: center;
  margin: 20px 0 5px 0;
}

@media (min-width: 600px) {
  h3 {
    font-size: 26px;
  }
}

h4 {
  font-size: 15px;
  color: #9d5c5f;
  margin: 5px 0;
}

@media (min-width: 600px) {
  h4 {
    font-size: 18px;
  }
}

p {
  font-size: 13px;
  line-height: 1.4;
}

@media (min-width: 600px) {
  p {
    font-size: 16px;
  }
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
}

.top-menu__logo, .footer__logo {
  font-family: "Unica One", cursive;
  font-size: 24px;
  font-weight: bold;
  color: #ff8673;
  text-decoration: none;
}

.top-menu__nav__links, .footer__nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.top-menu__nav__link, .footer__nav__link {
  list-style: none;
  padding: 0 2px;
}

@media (min-width: 600px) {
  .top-menu__nav__link, .footer__nav__link {
    padding: 0 10px;
  }
}

.top-menu__nav a, .footer__nav__link a {
  color: #eaddd9;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */