@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/top-nav";
@import "./partials/header";
@import "./partials/section1";
@import "./partials/section2";
@import "./partials/section3";
@import "./partials/section4";
@import "./partials/section5";
@import "./partials/footer";

* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

body {
	width: 100%;
	min-width: 200px;
	font-family: $primaryFont;
}

section {
	padding: 4vh 0vh;
	@media (min-width: 650px) {
		padding: 4vh 2vh;
	}
}

h1 {
	text-align: center;
	color: $headerColorLight;
	font-size: 30px;
	@media (min-width: 650px) {
		font-size: 46px;
	}
}

h2 {
	font-size: 24px;
	text-align: center;
	color: $headerColorDark;
	padding: 25px 0 15px 0;
	@media (min-width: 650px) {
		font-size: 38px;
	}
}

h3 {
	font-size: 18px;
	text-align: center;
	margin: 20px 0 5px 0;
	@media (min-width: 600px) {
		font-size: 26px;
	}
}

h4 {
	font-size: 15px;
	color: $headerColorDark;
	margin: 5px 0;
	@media (min-width: 600px) {
		font-size: 18px;
	}
}

p {
	font-size: 13px;
	line-height: 1.4;
	@media (min-width: 600px) {
		font-size: 16px;
	}
}

.image-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
}

.image-wrapper img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
}

%logo {
	font-family: $logoFont;
	font-size: 24px;
	font-weight: bold;
	color: $logoColor;
	text-decoration: none;
}

%nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
}

%nav-list-item {
	list-style: none;
	padding: 0 2px;
	@media (min-width: 600px) {
		padding: 0 10px;
	}
}
%nav-link {
	color: $menuColor;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	margin: 0;
}
